sudo: false

language: php

matrix:
  include:
    - php: 5.3
      dist: precise
    - php: 5.4
      dist: trusty
    - php: 5.6
      dist: trusty
    - php: 7.0
      dist: trusty
    - php: 7.1
      dist: trusty
    - php: 7.2
      dist: trusty

